* {
  margin: 0;
  padding: 0;
}

#characters-list {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 920px;
  height: 520px;
  align-content: space-around;
}
.poster {
  width: 400px;
  display: flex;
  background-color: white;
  height: 200px;
  justify-content: space-between;
}
.poster img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 80px;
  height: 160px;
}
.left-div {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 250px;
  display: grid;
}
